<main class="skills-wrapper" id="skills">
  <section class="skills-box">
    <div class="skills-title-wrapper">
      <h1>Skills</h1>
    </div>
    
      <ul>
        <li>AngularJS Framework</li>
        <li>ReactJS Framework</li>
        <li>MongoDB</li>
        <li>ExpressJS</li>
        <li>Node.js</li>
        <li>jQuery</li>
        <li>Webpack</li>
        <li>Node Passport Authentication</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>SCSS/SASS</li>
      </ul>

  </section>

</main>
