<main class="projects-wrapper" id="projects">
  <section class="fero-vino-wrapper">
    <aside class="fero-vino-preview">
    </aside>
    <article class="fero-vino-bio">
      <h1>Fero Vino</h1>
      <p>A React App for jerks</p>
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </article>
  </section>
  <section class="podcast-manager-wrapper">
    <aside class="podcast-manager-preview">
    </aside>
    <article class="podcast-manager-bio">
      <h1>Podcast Manager</h1>
      <p>A podcast manager for bastards</p>
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </article>
  </section>
  <section class="add-game-wrapper">
    <aside class="add-game-preview">
    </aside>
    <article class="add-game-bio">
      <h1>Add Game</h1>
      <p>A nonsense page for idiots</p>
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    </article>
  </section>
</main>
