<main class="main-wrapper">

  <section class="profile-wrapper">
    <div class="profile-bio-wrapper">
      <div class="big-quote-1">"</div>
      <p>
        Hey, I'm JJ Crossman. I'm a web developer focused on the MEAN stack. I love being a mad scientist as my code comes to life right before my eyes. Computers, technology and coding are my lifeblood. I'd love to join your team or build something for you.
      </p>
      <div class="big-quote-2">"</div>
    </div>
    <div class="portrait-wrapper">
      <figure class="portrait"></figure>
    </div>
  </section>

</main>
