<main class="main-wrapper">

  <section class="profile-wrapper">
    <div class="profile-bio-wrapper">
      <p>
        Hey, I'm JJ Crossman. I'm a web developer focused on the MEAN stack. I love those mad scientist moments when my code comes to live right before my eyes. Computers, technology and coding are my lifeblood. I'd love to join your team or build something for you.
      </p>
    </div>
    <div class="portrait-wrapper">
      <figure class="portrait"></figure>
    </div>
  </section>

</main>
